agno==2.1.10
aiosqlite==0.21.0
alembic==1.17.0
fastapi==0.119.1
google-genai==1.46.0
httpx==0.28.1
mistralai==1.9.11
openai==2.6.0
pydantic==2.12.3
pydantic-settings==2.11.0
pytest==8.4.2
pytest-asyncio==1.2.0
SQLAlchemy==2.0.44
tiktoken==0.12.0
tqdm==4.67.1
typer==0.20.0
